WPS_WEBHOOK_JINGYUE=https://www.kdocs.cn/api/v3/ide/file/corH6Pn7C9vm/script/V2-3VpBguvVTfZKpjuTNO5VE3/sync_task
WPS_TOKEN_JINGYUE=请填景越的 AirScript Token

WPS_WEBHOOK_YUYAN=https://www.kdocs.cn/api/v3/ide/file/请替换成钰衍的脚本地址/sync_task
WPS_TOKEN_YUYAN=请填钰衍的 AirScript Token

PORT=8090
